
.container {
    padding: 2.5rem 10%;
    padding-top: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.title {
    color: #DC2F4A;
    font-weight: 700;
    padding-top: 3.5rem;
    font-size: 3rem;
}

.card {
    max-width: 20rem;
    font-size: 1.5rem;
    padding-top: 3.5rem;
    color: #000;
    text-decoration: none;

    &__img {
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 1rem;
                width: 25rem;
                height: 15rem;
    }

   

    &__button {
        display: block;
        margin: 0 auto;
        border: 2px solid #DC2F4A ;
        border-radius: 10rem;
        width: 12rem;
        height: 2.5rem;
        font-size: 1.15rem;
        a {
            padding: 1rem; 
            text-decoration: none;
            color: inherit; 
        }  
    }
}

.card:hover {
    color: #000;
}

@media (max-width:1420px){
 
	.wrapper {
    
        display: block;
              
              margin-bottom: 1rem;
            
        }

        .card {
            display: block;
            margin: 0 auto;
        }
        
}



