.container {
    padding: 2.5rem 10%;
    padding-top: 0;
}


.title {
    color: #DC2F4A;
    font-weight: 700;
    padding-top: 1.5rem;
    font-size: 3rem;
    padding-bottom: 3rem;
}

.wrapper {
    padding-top: 1.5rem;
    
            &__item {
                margin-top: 2rem;
                
                h3 {
                    padding-top: 2rem;
                    color: #308F54;
                    font-weight: 600;
                }
        
               
            }
        } 