.container {
    padding: 2.5rem 10%;
    padding-top: 0;
}


.title {
    color: #DC2F4A;
    font-weight: 700;
    padding-top: 3.5rem;
    font-size: 3rem;
    padding-bottom: 3rem;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        color: #308F54;
        font-weight: 700;
    }

    &__img {
        padding-right: 1.5rem;
    }

    &__button {
        display: block;
    margin: 0 auto;
    border: 2px solid #DC2F4A ;
    border-radius: 10rem;
    width: 12rem;
    height: 2.5rem;
    font-size: 1.15rem;
    a {
        padding: 1rem; 
        text-decoration: none;
        color: inherit; 
    }
}
}