
.container {
    padding: 2.5rem 10%;
    padding-top: 0;
    background-color: #484848;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;

    img {
        
        object-fit: cover;
    }
}

.list {
    &__item {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-size: 1.25rem;
    }
}

.title {
    color: #fff;
    font-weight: 700;
    padding-top: 1.5rem;
    font-size: 3rem;
}

.carousel {
display: flex;
width: 40rem;
height: 14rem;

}