.container {
    padding: 2.5rem 10%;
    padding-top: 0;
} 

.wrapper {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   gap: 2rem;
}


.title {
    color: #DC2F4A;
    font-weight: 700;
    padding-top: 3.5rem;
    font-size: 3rem;
}