.container {
    padding: 2.5rem 10%;
    padding-top: 0;
} 

.title {
    color: #DC2F4A;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 3.5rem;
    
}

.item {

display: flex;
align-items: center;
flex-wrap: wrap;
gap: 2rem;
padding-top: 3.5rem;

&__img {
border-radius: 50%;
}



&__content_title {
font-size: 2rem;
font-weight: 700;
padding-bottom: 1.5rem;
}

&__content_text {
font-size: 1.5rem;
}

&__content_subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    }

}

@media (max-width:1257px){

    .title {
        text-align: center;
    }
 
	.item {
        display: block;
        
        &__content {
            text-align: center;
        } 
        &__img {
            margin: 0 auto;
            display: block;
        }
    }

}